<html>
    <body style="background-color: #000; color:#aaa;">
        <pre>
<span style="background-color: #0a0; font-weight: bold; color:#fff;"> Automatic update / DRY-RUN / {{ "now"|date("Y-m-d H:i:s") }} </span>

{% for i, command in commands -%}
{{ username }}@{{ hostname }}:{{ path }}$ {{ command.input }}
{{ command.output }}
{% endfor %}</pre>
    <form method="post" action="{{ url('lsw_automatic_update.update.execute') }}">
        <input type="hidden" name="secret" value="{{ secret }}"/>
        <input type="submit" value="Execute automatic update (execute)"/>
    </form>
    </body>
</html>